openapi: 3.0.3
info:
  title: Bakuraku API (LayerX)
  version: v1
  description: |
    REST API for Bakuraku by LayerX — a cloud-based expense and receipt management
    platform used widely in Japan. All endpoints require an API key passed via
    the `x-bakuraku-api-key` request header.

    Base URL: https://api.bakuraku.layerx.jp/rest/v1

servers:
  - url: https://api.bakuraku.layerx.jp/rest/v1
    description: Production

security:
  - ApiKeyAuth: []

tags:
  - name: User
    description: Authenticated user information
  - name: Receipts
    description: Receipt and expense document operations
  - name: Reports
    description: Expense report operations

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-bakuraku-api-key
      description: API key issued from the Bakuraku admin console (format lxb-v1-…)

  schemas:
    UserProfile:
      type: object
      description: Profile of the currently authenticated API user
      properties:
        id:
          type: string
          description: Unique user identifier
          example: "usr_abc123"
        email:
          type: string
          format: email
          description: User's registered email address
          example: "taro.yamada@example.co.jp"
        display_name:
          type: string
          description: User's display name
          example: "山田 太郎"
        organization_id:
          type: string
          description: ID of the organization this user belongs to
          example: "org_xyz789"
        role:
          type: string
          description: User's role within the organization
          enum: [admin, member, approver, viewer]
          example: "member"
        created_at:
          type: string
          format: date-time
          description: Account creation timestamp (ISO 8601)
          example: "2024-04-01T09:00:00+09:00"
      required:
        - id
        - email
        - organization_id
        - role

    Receipt:
      type: object
      description: A single uploaded receipt or expense document
      properties:
        id:
          type: string
          example: "rec_def456"
        title:
          type: string
          description: Description or merchant name
          example: "Lunch at Sakura Restaurant"
        amount:
          type: number
          format: float
          description: Total amount in JPY
          example: 1540
        currency:
          type: string
          default: "JPY"
          example: "JPY"
        date:
          type: string
          format: date
          description: Date of the expense (YYYY-MM-DD)
          example: "2025-05-07"
        category:
          type: string
          description: Expense category
          example: "Meals & Entertainment"
        status:
          type: string
          enum: [draft, submitted, approved, rejected]
          example: "submitted"
        created_at:
          type: string
          format: date-time
          example: "2025-05-07T12:30:00+09:00"
      required:
        - id
        - amount
        - date
        - status

    ReceiptList:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/Receipt"
        total:
          type: integer
          description: Total number of receipts matching the query
          example: 42
        page:
          type: integer
          example: 1
        per_page:
          type: integer
          example: 20

    Report:
      type: object
      description: An expense report grouping multiple receipts
      properties:
        id:
          type: string
          example: "rpt_ghi789"
        title:
          type: string
          example: "May 2025 Business Trip"
        total_amount:
          type: number
          format: float
          description: Sum of all receipt amounts in the report (JPY)
          example: 45200
        status:
          type: string
          enum: [draft, submitted, approved, rejected, paid]
          example: "approved"
        submitted_at:
          type: string
          format: date-time
          nullable: true
          example: "2025-05-08T10:00:00+09:00"
        approved_at:
          type: string
          format: date-time
          nullable: true
          example: "2025-05-08T15:00:00+09:00"
        receipt_count:
          type: integer
          example: 7
      required:
        - id
        - title
        - total_amount
        - status

    ErrorResponse:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
              example: "UNAUTHORIZED"
            message:
              type: string
              example: "Invalid or missing API key"
      required:
        - error

paths:
  /me:
    get:
      operationId: getMe
      summary: Get current user profile
      description: |
        Returns the profile of the user associated with the provided API key.
        Use this endpoint to verify authentication and retrieve the organization ID
        needed for other API calls.
      tags:
        - User
      responses:
        "200":
          description: Authenticated user's profile
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserProfile"
              example:
                id: "usr_abc123"
                email: "taro.yamada@example.co.jp"
                display_name: "山田 太郎"
                organization_id: "org_xyz789"
                role: "member"
                created_at: "2024-04-01T09:00:00+09:00"
        "401":
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: API key does not have permission for this resource
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /receipts:
    get:
      operationId: listReceipts
      summary: List receipts
      description: Returns a paginated list of receipts belonging to the authenticated user.
      tags:
        - Receipts
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
            minimum: 1
          description: Page number (1-based)
        - name: per_page
          in: query
          schema:
            type: integer
            default: 20
            minimum: 1
            maximum: 100
          description: Number of results per page
        - name: status
          in: query
          schema:
            type: string
            enum: [draft, submitted, approved, rejected]
          description: Filter by receipt status
        - name: from_date
          in: query
          schema:
            type: string
            format: date
          description: "Return receipts on or after this date (YYYY-MM-DD)"
          example: "2025-05-01"
        - name: to_date
          in: query
          schema:
            type: string
            format: date
          description: "Return receipts on or before this date (YYYY-MM-DD)"
          example: "2025-05-31"
      responses:
        "200":
          description: Paginated list of receipts
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReceiptList"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /receipts/{receipt_id}:
    get:
      operationId: getReceipt
      summary: Get a single receipt
      description: Returns the full details of a specific receipt by its ID.
      tags:
        - Receipts
      parameters:
        - name: receipt_id
          in: path
          required: true
          schema:
            type: string
          description: Unique receipt identifier
          example: "rec_def456"
      responses:
        "200":
          description: Receipt details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Receipt"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Receipt not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /reports:
    get:
      operationId: listReports
      summary: List expense reports
      description: Returns a paginated list of expense reports for the authenticated user.
      tags:
        - Reports
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [draft, submitted, approved, rejected, paid]
          description: Filter by report status
        - name: page
          in: query
          schema:
            type: integer
            default: 1
            minimum: 1
        - name: per_page
          in: query
          schema:
            type: integer
            default: 20
            minimum: 1
            maximum: 100
      responses:
        "200":
          description: List of expense reports
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: "#/components/schemas/Report"
                  total:
                    type: integer
                    example: 5
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /reports/{report_id}:
    get:
      operationId: getReport
      summary: Get a single expense report
      description: Returns full details of a specific expense report, including its receipts.
      tags:
        - Reports
      parameters:
        - name: report_id
          in: path
          required: true
          schema:
            type: string
          description: Unique report identifier
          example: "rpt_ghi789"
      responses:
        "200":
          description: Expense report details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Report"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Report not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
