openapi: 3.0.3
info:
  title: Open-Meteo Weather API
  version: 1.0.0
  description: >-
    Free, open-source weather API — no API key or sign-up required.
    Provides current conditions, multi-day forecasts, and hourly data
    for any location on Earth using latitude/longitude coordinates.

    **Tip for ChatGPT usage:** GPT-4 already knows the latitude and longitude
    of major cities worldwide. Ask questions like "What is the weather in Tokyo?"
    and the model will supply the correct coordinates automatically.

    Source: https://open-meteo.com

servers:
  - url: https://api.open-meteo.com/v1
    description: Open-Meteo public API (no auth required)

paths:

  # ── Current conditions ──────────────────────────────────────────────────────
  /forecast:
    get:
      operationId: getCurrentWeather
      summary: Get current weather conditions for a location
      description: >-
        Returns live weather data for the given coordinates.
        Includes temperature, humidity, wind, precipitation and a WMO weather code.
        Always pass current=temperature_2m,relative_humidity_2m,apparent_temperature,
        precipitation,weather_code,wind_speed_10m,wind_direction_10m,surface_pressure,
        cloud_cover to get a full snapshot.
      tags: [Weather]
      parameters:
        - name: latitude
          in: query
          required: true
          schema:
            type: number
            format: float
            minimum: -90
            maximum: 90
          description: Latitude of the location.
          example: 51.5074
        - name: longitude
          in: query
          required: true
          schema:
            type: number
            format: float
            minimum: -180
            maximum: 180
          description: Longitude of the location.
          example: -0.1278
        - name: current
          in: query
          required: false
          schema:
            type: string
          description: >-
            Comma-separated current-weather variables to return.
            Supported: temperature_2m, relative_humidity_2m, apparent_temperature,
            precipitation, weather_code, wind_speed_10m, wind_direction_10m,
            surface_pressure, cloud_cover, visibility, uv_index.
          example: "temperature_2m,relative_humidity_2m,apparent_temperature,precipitation,weather_code,wind_speed_10m,wind_direction_10m"
        - name: daily
          in: query
          required: false
          schema:
            type: string
          description: >-
            Comma-separated daily forecast variables (next forecast_days days).
            Supported: temperature_2m_max, temperature_2m_min, precipitation_sum,
            precipitation_probability_max, weather_code, sunrise, sunset,
            wind_speed_10m_max, uv_index_max.
          example: "temperature_2m_max,temperature_2m_min,precipitation_sum,precipitation_probability_max,weather_code,sunrise,sunset"
        - name: hourly
          in: query
          required: false
          schema:
            type: string
          description: >-
            Comma-separated hourly forecast variables.
            Supported: temperature_2m, relative_humidity_2m, apparent_temperature,
            precipitation_probability, precipitation, weather_code,
            wind_speed_10m, visibility, uv_index.
          example: "temperature_2m,precipitation_probability,weather_code,wind_speed_10m,visibility"
        - name: temperature_unit
          in: query
          required: false
          schema:
            type: string
            enum: [celsius, fahrenheit]
            default: celsius
          description: Unit for all temperature values.
        - name: wind_speed_unit
          in: query
          required: false
          schema:
            type: string
            enum: [kmh, ms, mph, kn]
            default: kmh
          description: Unit for all wind speed values.
        - name: precipitation_unit
          in: query
          required: false
          schema:
            type: string
            enum: [mm, inch]
            default: mm
          description: Unit for all precipitation values.
        - name: timezone
          in: query
          required: false
          schema:
            type: string
            default: UTC
          description: >-
            IANA timezone name for local time formatting
            (e.g. Europe/London, America/New_York, Asia/Tokyo, auto).
            Use "auto" to derive the timezone from the coordinates.
          example: Europe/London
        - name: forecast_days
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 16
            default: 7
          description: Number of days included in daily and hourly forecasts (1–16).
      responses:
        "200":
          description: Weather data for the requested location and variables.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForecastResponse"
        "400":
          description: Invalid parameters (e.g. out-of-range coordinates).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

# ── Geocoding lives on a separate sub-domain ───────────────────────────────────
# Upload as a second tool if you need city-name → coordinates lookup:
#   server: https://geocoding-api.open-meteo.com/v1
#   GET /search?name=London&count=1&language=en&format=json

components:
  schemas:

    ForecastResponse:
      type: object
      properties:
        latitude:
          type: number
          description: Adjusted latitude of the nearest grid point.
        longitude:
          type: number
          description: Adjusted longitude of the nearest grid point.
        generationtime_ms:
          type: number
          description: Time taken to generate the response (ms).
        utc_offset_seconds:
          type: integer
          description: UTC offset of the returned timezone in seconds.
        timezone:
          type: string
          description: Timezone name used for time formatting.
        timezone_abbreviation:
          type: string
          description: Abbreviated timezone name (e.g. GMT, EST).
        elevation:
          type: number
          description: Elevation of the location above sea level (m).
        current_units:
          type: object
          description: Units for each returned current-weather field.
          additionalProperties:
            type: string
        current:
          type: object
          description: Current weather snapshot (present when current= param supplied).
          properties:
            time:
              type: string
              format: date-time
              description: Observation time (ISO 8601).
            interval:
              type: integer
              description: Update interval in seconds.
            temperature_2m:
              type: number
              description: Air temperature 2 m above ground.
            relative_humidity_2m:
              type: integer
              description: Relative humidity at 2 m (%).
            apparent_temperature:
              type: number
              description: Feels-like temperature accounting for wind and humidity.
            precipitation:
              type: number
              description: Precipitation in the past hour (mm).
            weather_code:
              type: integer
              description: >-
                WMO weather interpretation code.
                0=Clear sky, 1-3=Mainly/Partly/Overcast, 45/48=Fog,
                51/53/55=Drizzle, 61/63/65=Rain, 71/73/75=Snow,
                80/81/82=Showers, 95=Thunderstorm.
            wind_speed_10m:
              type: number
              description: Wind speed at 10 m above ground.
            wind_direction_10m:
              type: integer
              description: Wind direction at 10 m (0–360°, 0=North).
            surface_pressure:
              type: number
              description: Atmospheric pressure at surface (hPa).
            cloud_cover:
              type: integer
              description: Total cloud cover (%).
        daily_units:
          type: object
          description: Units for each returned daily field.
          additionalProperties:
            type: string
        daily:
          type: object
          description: Daily forecast arrays (present when daily= param supplied).
          properties:
            time:
              type: array
              items:
                type: string
                format: date
              description: Forecast dates (YYYY-MM-DD).
            temperature_2m_max:
              type: array
              items:
                type: number
              description: Maximum daily temperature.
            temperature_2m_min:
              type: array
              items:
                type: number
              description: Minimum daily temperature.
            precipitation_sum:
              type: array
              items:
                type: number
              description: Total daily precipitation (mm).
            precipitation_probability_max:
              type: array
              items:
                type: integer
              description: Maximum precipitation probability per day (%).
            weather_code:
              type: array
              items:
                type: integer
              description: Dominant WMO weather code for the day.
            sunrise:
              type: array
              items:
                type: string
              description: Sunrise time (ISO 8601).
            sunset:
              type: array
              items:
                type: string
              description: Sunset time (ISO 8601).
            wind_speed_10m_max:
              type: array
              items:
                type: number
              description: Maximum daily wind speed at 10 m.
        hourly_units:
          type: object
          description: Units for each returned hourly field.
          additionalProperties:
            type: string
        hourly:
          type: object
          description: Hourly forecast arrays (present when hourly= param supplied).
          properties:
            time:
              type: array
              items:
                type: string
                format: date-time
              description: Forecast timestamps (ISO 8601).
            temperature_2m:
              type: array
              items:
                type: number
              description: Hourly temperature at 2 m.
            relative_humidity_2m:
              type: array
              items:
                type: integer
              description: Hourly relative humidity (%).
            apparent_temperature:
              type: array
              items:
                type: number
              description: Hourly feels-like temperature.
            precipitation_probability:
              type: array
              items:
                type: integer
              description: Hourly precipitation probability (%).
            precipitation:
              type: array
              items:
                type: number
              description: Hourly precipitation (mm).
            weather_code:
              type: array
              items:
                type: integer
              description: Hourly WMO weather code.
            wind_speed_10m:
              type: array
              items:
                type: number
              description: Hourly wind speed at 10 m.
            visibility:
              type: array
              items:
                type: number
              description: Hourly visibility (m).

    ErrorResponse:
      type: object
      properties:
        error:
          type: boolean
          example: true
        reason:
          type: string
          description: Human-readable description of the error.
          example: "Cannot initialize WeatherVariable from invalid String value nanvalue for key current"
